<!--
  li:last-child {
  margin-bottom: 0;
}
-->

<style>

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 1em;
}

div.title {
  text-decoration: none;
  border-bottom: none;
  font-weight: 600;
}

div.authors {
  color: #888;
}

div.venue
{
  color: #777;
}

div.links
{
  color: #666;
}

</style>


<!-- <div><h2 id="publications">Journal Papers</h2></div> -->

<ol>
{% for pub in site.data.journalpubs %}
  <li>
    <div class="title">{{ loop.length - loop.index + 1 }}. {{ pub.title }}</div>
    <div class="authors">{{ pub.authors }}</div>
    <div class="venue"><em>{{ pub.venue }}</em></div>
    <div class="links">
    {% for link in pub.links %}
      [ <a href="{{ link.url }}">{{ link.name }}</a> ]
    {% endfor %}
    </div>
  </li>
{% endfor %}
</ol>

