---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.inner {
  content-width: 90%;
}

.page-content {
  max-width: 90%;
}

// .wrapper {
//   // width:90%;
//   width:1200px;
//   // left side is 270
//   // 1200-270 = 930
//   // 30px free room
//   margin:0 auto;
// }

// section {
//   width:900px;
//   // width:70%;
//   float:right;
//   padding-bottom:50px;
// }
